 /* Global Style */
*{
    /* Google Fonts Link */
    font-family: 'Lora', serif;
}
/* Header Styles */
h3{
    color: darkslateblue;
}
.menu{
    background-color: lightgray;
}
.menu a{
    text-decoration: none;
    color: black;
}
/* Header Styles Ends*/
/* Main section Styles */
h1{
    color: orangered;
}