 /* Global Style */
*{
    /* Google Fonts Link */
    font-family: 'Lora', serif;
}
/* Header Styles */
h3{
    color: darkslateblue;
}
.menu{
    background-color: lightgray;
}
.menu a{
    text-decoration: none;
    color: black;
}
/* Header Styles Ends*/
/* Main section Styles */
h1{
    color: goldenrod;
}
.button{
    font-size: medium;
    background-color: lightblue;
}
.image{
    background-color: aquamarine;
    border-radius: 15px;
}
#error-text{
    display: none;
}
/* Footer Styles Here */
.footer{
    background-color:goldenrod;
}
/* Footer Styles Ends Here */
.text{
    color: blueviolet;
    font-weight: bold;
}